@charset "utf-8";
:root {
    --blue: #007bff;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #6da653;
}
a {
    color: var(--info);
}

a:hover {
    color: var(--primary);
    text-decoration: none;
}

.main-cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/logo.png) center no-repeat #fff;
    background-size: 150px;
}


.imgHolder {
    opacity: 0;
    z-index: -20;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    text-align: center;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 150px;
}
.imgHolder img {
    margin: 30px auto;
    width: 90%;
}
.imgHolder i {
    color: #000;
    background: #ccc;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 15%;
    top: 0;
    padding: 6px 12px;
    z-index: 111;
}
.slideHolder .carousel {
    height: 100%;
}
.slideHolder .carousel-inner {
    overflow-y: auto;
    padding: 0;
    height: 100%;
}








#msgHolder {
    transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    -webkit-transition: ease-out 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
}
#msgHolder > div {
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    border: 2px double #ccc;
    border-radius: 4px;
}
#msgHolder > span {
    display: block;
}
#msgHolder .msg_white {
    background: #fff;
}
#msgHolder .error {
    background: var(--light_red);
}
#msgHolder .success {
    background: var(--light_green);
}
#msgHolder .warning {
    background: var(--light_orange);
}



.error-message{
    width: 100%;
	padding:4px 0 0 0;
	line-height:11px;
	display:block;
	font-size:11px;
	float:right;
    color: #F00;
}
.message{
	position: fixed;
	display: inline-block;
	width:auto;
	height:120%;
	top:-150%;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.7);
	z-index:8888;
	padding: 0 30px;
    opacity: 0;
    transition: all 0.5s;
}
.message span{
	overflow:hidden;
	border-radius:3px;
	display:block;
	max-width:600px;
	border:1px solid #999;
	color:#000;
	z-index:9999;
	margin:150px auto;
	position:relative;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
    padding: 20px 50px;
}
.message span i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #666;
}
.error span{
	background:#F0CECE;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.success span{
	background: #D6E4B1;
	-webkit-transition: all 0.5s; 
    transition: all 0.5s;
}
.default span{
	background: #ccc;
}
.showAlert{
    opacity: 1;
    top: 0;
}

.mycheckbox+.error-message {
    margin-top: -14px;
}

.mycheckbox * {
    outline: none !important;
}

.mycheckbox input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 14px;
    top: 8px;
}

.mycheckbox input[type="checkbox"]+span {
    font-family: "Jannat", sans-serif;
}

.mycheckbox input[type="checkbox"]+span:before,
.myradiobtn input[type="radio"]+span:before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
    display: inline-block;
    width: 16px;
    color: #ccc;
    vertical-align: middle;
    font-weight: 900;
    transition: all 0.5s;
}

.mycheckbox input[type="checkbox"]:checked+span:before {
    content: "\f14a";
    color: var(--green);
}

.mycheckbox input[type="checkbox"]:disabled+span {
    color: #999;
}


/*.mycheckbox input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }*/

.myradiobtn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 14px;
    top: 8px;
}

.myradiobtn input[type="radio"]+span {
    font-family: "Jannat", sans-serif;
}

.myradiobtn input[type="radio"]+span:before {
    content: "\f10c";
}

.myradiobtn input[type="radio"]:checked+span:before {
    content: "\f192";
    color: var(--green);
}

.myradiobtn input[type="radio"]:disabled+span {
    color: #999;
}

.hideIt {
    display: none;
}

.main-content {
    min-height: 750px;
}

.logo {
    text-align: left;
}

.logo img {
    max-height: 70px;
}

.modal-header .close {
    padding: 6px !important;
    margin: 0;
}

input,
button,
select {
    font-size: 24px !important;
    margin: 10px 0;
}

input,
select {
    border: none !important;
    border-bottom: 1px solid #999 !important;
}

.bigBtn {
    padding: 10px 50px !important;
}

.footer {
    background: #eee;
    min-height: 100px;
    padding: 20px 0;
    text-align: center;
}

.topbar {
    padding: 10px 8%;
    background: #eb2427;
}

.topbar a{
    color: #f9f4eb;
}

.modal-body h1 {
    font-size: 1.8rem;
}

.alt-color .col-th,
.alt-color .col-td {
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    white-space: nowrap;
}

.alt-color .col-th {
    background: #ccc;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.alt-color .alt:nth-child(odd) {
    background: rgb(245, 245, 245);
}

.hideMob {
    display: auto;
}

.redText {
    color: red
}

.greenText {
    color: green
}

.orangeText {
    color: orange
}

.grayText {
    color: gray
}

.blueText {
    color: blue
}

.dashboard_card {
    border: 1px solid #ccc;
    border-radius: 10px;
    min-height: 90px;
    min-height: 110px;
    margin: 4px;
    min-width: 180px;
    text-align: center;
    overflow: hidden;
}

.dashboard_card .fas {
    position: absolute;
    z-index: 0;
    font-size: 70px;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    pointer-events: none;
}

.other-side {
    text-align: left;
    float: left;
}

.header-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.tabs_content {
    display: none;
}

.tabs_content.show {
    display: block;
}

.bigText {
    font-size: 40px;
    font-weight: bold;
}

.tabs_buttons {
    text-align: center;
    background: #eee;
}

.tabs_buttons a {
    padding: 10px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.5s;
}

.tabs_buttons .activeBtn {
    background: var(--green);
    color: #fff;
}

.header_side2 {
    font-size: 14px;
    text-align: right;
    line-height: 30px;
}

.smallBtn{
    padding: 4px 12px;
    font-size: 14px !important;
}
.other-side{
    text-align: right;
}
.tabs_buttons {
    text-align: center;
    background: #eee;
}
.tabs_buttons a {
    padding: 10px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.5s;
}
.tabs_buttons .activeBtn {
    background: var(--green);
    color: #fff;
}
.modal-open .modal {
    display: flex !important;
    align-items: center !important;
}

.hidden{
    position: absolute;
    opacity: 0;
    z-index: -110;
}
.thumb-img {
    height: 70px;
    margin: 4px;
    display: inline-block;
}
.tile_div .tile_content{
    text-align: center;
    margin: 15px 0;
    min-height: 120px;
    border-radius: 4px;
    transition: all 0.5s;
    box-shadow: 4px 4px 4px #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    flex-direction: column;
}
.tile_div h2{
    font-size: 28px;
    font-weight: bold;
    padding: 0 10px;
    transition: all 0.5s;
}
.tile_div a{
    color: #000;
}
.tile_div a.disabled{
    pointer-events: none;
    color: #ccc;
}
.tile_div a:hover .count_top h2{
    transform: scale(1.3);
}
.tile_div .count{
    font-size: 40px;
    font-weight: bold;
    position: relative;
}
.count_top i{
    position: absolute;
    font-size: 55px;
    left: 0;
    top: 0;
    padding: 25px 0;
    color: #fff;
    pointer-events: none;
    border-radius: 4px;
    margin: 23px;
    width: 109px;
    height: 104px;
    z-index: -1;
}
.tile_div:nth-child(1) .tile_content .count_top i{background: #00f5;}
.tile_div:nth-child(2) .tile_content .count_top i{background: #f005;}
.tile_div:nth-child(3) .tile_content .count_top i{background: #0f05;}
.tile_div:nth-child(4) .tile_content .count_top i{background: #f0f5;}
.tile_div:nth-child(5) .tile_content .count_top i{background: #0555;}
.tile_div:nth-child(6) .tile_content .count_top i{background: #5055;}
.tile_div:nth-child(7) .tile_content .count_top i{background: #55f5;}
.tile_div:nth-child(8) .tile_content .count_top i{background: #f555;}
.tile_div:nth-child(9) .tile_content .count_top i{background: #5055;}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media (max-width: 768px) {
    .hideMob {
        display: none;
    }

    .hideWeb {
        display: block;
    }

    .grid-sm-row {
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ccc;
        margin-bottom: 12px;
    }

    .alt-color .col-th,
    .alt-color .col-td {
        padding-top: 0;
        padding-bottom: 0;
    }

    .alt-color .col-th {
        background: #eee;
    }

    .de-margin {
        margin-left: auto;
        margin-right: auto;
    }
    .no-border {
        border: none !important;
    }
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


/* 
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries 
*/
/* Set width to make card deck cards 100% width */

@media (max-width: 950px) {}
